<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        html {
            width: 100vw;
        }

        body {
            font-family: 'Times New Roman', Times, serif;
        }

        section {
            width: 900px;
            margin: auto;
        }
    </style>
</head>

<body>
    <section class="flex flex-col ">
        <h1 class="text-2xl font-bold">
            <%= personalInfo.name %>
        </h1>
        <div class="flex  gap-x-2">
            <a href="mailto:<%= personalInfo.email %>" class="text-sm">
                <%= personalInfo.email %>
            </a>
            <span>|</span>
            <a href="tel:<%= personalInfo.phone %>" class="text-sm">
                <%= personalInfo.phone %>
            </a>
            <span>|</span>
            <p class="text-sm">
                <%= personalInfo.location %>
            </p>
            <span>|</span>
            <a href="https://<%= personalInfo.githubURL %>" target="_blank" class="text-sm">
                <%= personalInfo.githubURL %>
            </a>
            <span>|</span>
            <a href="https://<%= personalInfo.linkedinURL %>" target="_blank" class="text-sm">
                <%= personalInfo.linkedinURL %>
            </a>
        </div>
        <p class="text-sm">
            <%= professionalSummary %>
        </p>
    </section>
    <!-- <section>
        <h2 class="text-lg font-bold border-b border-black">Summary</h2>
        
    </section> -->
    <section>
        <h2 class="text-lg font-bold border-b border-black">Experience</h2>
        <ul>
            <% experience.forEach((exp)=> { %>
                <li>
                    <div class="flex justify-between">
                        <div class="flex flex-col">
                            <span class="text-sm font-bold">
                                <%= exp.company %>
                            </span>
                            <span class="text-sm italic">
                                <%= exp.title %>
                            </span>
                        </div>
                        <div class="flex flex-col items-end">
                            <span class="text-sm font-bold">
                                <%= exp.location %>
                            </span>
                            <span class="text-sm">
                                <%= exp.startDate %> - <%= exp.endDate %>
                            </span>
                        </div>
                    </div>
                    <ul class="list-disc ml-5">
                        <% exp.achievements.forEach((resp)=> { %>
                            <li class="text-sm">
                                <%= resp %>
                            </li>
                            <% }) %>
                    </ul>
                </li>
                <% }) %>
        </ul>
    </section>
    <section>
        <h2 class="text-lg font-bold border-b border-black">Education & Certifications</h2>
        <ul class="grid grid-cols-2 gap-x-10 gap-y-2">
            <% education.forEach((edu)=> { %>
                <li>
                    <div class="flex justify-between">
                        <div class="flex flex-col">
                            <span class="text-sm font-bold">
                                <%= edu.institution %>
                            </span>
                            <span class="text-sm italic">
                                <%= edu.title %>
                            </span>
                        </div>
                        <div class="flex flex-col items-end">
                            <span class="text-sm font-bold">
                                <%= edu.type %>
                            </span>
                            <span class="text-sm">
                                <%= edu.startDate %> - <%= edu.endDate %>
                            </span>
                        </div>
                    </div>
                    <div>
                        <span class="text-sm">
                            <%= edu.description %>
                        </span>
                    </div>
                </li>
                <% }) %>
        </ul>
    </section>
    <section>
        <h2 class="text-lg font-bold border-b border-black">Skills</h2>
        <ul class="space-y-2">
            <% Object.entries(technicalSkills).forEach(([category, skills])=> { %>
                <li class="text-sm">
                    <span class="text-sm font-bold">
                        <%= category %>:
                    </span>
                    <span class="text-sm leading-5"">
                        <%= skills.join(' ◦ ') %>
                        </span>
                    </li>
                    <% }) %>
            </ul>
        </section>
</body>

</html>