<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= personalInfo.name %>
    </title>
    <style>
        body {
            font-size: 12px;
            max-width: 900px;
            margin: 0 auto;
            font-family: Arial, sans-serif;
            color: #333;
        }

        h1,
        h2 {
            color: #2c3e50;
        }


        h1,
        h2,
        h3,
        p {
            margin: 0px;
            padding: 0px;
        }
        h3{
            margin: 5px 0px;
        }

        h2 {
            /* font-size: 18px; */
            border-bottom: 1px solid #bdc3c7;
            padding-bottom: 5px;
            margin: 10px 0px;
        }

        a {
            color: #3498db;
            text-decoration: none;
        }

        ul {
            padding: 0px;
            margin: 0px;
            padding-left: 20px;
        }

        li {
            margin-bottom: 5px;
        }
        .contact-info{
            border-bottom: 1px solid #bdc3c7;
            padding-bottom: 5px;
        }

        .technical-skills-group {
            column-count: 2;
            column-gap: 50px;
        }
        .experience-header{
            display: flex;
            align-items: center;
        }
        .experience-header span{
            margin: 0px 5px;
            font-style: italic;
        }
    </style>
</head>

<body>
    <header>
        <h1>
            <%= personalInfo.name %>
                <% if (typeof downloadable !=='undefined' && downloadable) { %>
                    <button onclick="window.location.href='/download-pdf'">Download PDF</button>
                    <% } %>
        </h1>
        <p class="contact-info">
            <%= personalInfo.location %> |
                <%= personalInfo.phone %> |
                    <%= personalInfo.email %> |
                        <a href="https://<%= personalInfo.githubURL %>" target="_blank">github.com/irfanali17899</a>
                        |
                        <a href="https://<%= personalInfo.linkedinURL %>"
                            target="_blank">linkedin.com/in/irfanali17899</a>

        </p>
    </header>

    <section>
        <h2>Professional Summary</h2>
        <p>
            <%= professionalSummary %>
        </p>
    </section>
    <section>
        <h2>Technical Skills</h2>
        <ul class="technical-skills-group">
            <% Object.entries(technicalSkills).forEach(function([category, skills]) { %>
                <li>
                    <h3>
                        <%= category %>
                    </h3>
                    <%= skills.join(' ◦ ') %>
                </li>
                <% }) %>
        </ul>
    </section>

    <section>
        <h2>Professional Experience</h2>
        <ul>
            <% professionalExperience.forEach(function(job) { %>
                <li>
                    <div class="experience-header">
                    <h3>
                        <%= job.title %> 
                    </h3>
                    <span>
                        -
                        <%= job.company %>
                    </span>
                    -
                    <span>

                        <%= job.location %> -
                        <%= job.startDate %> - <%= job.endDate %>
                    </span>
                    </div>
                    <ul>
                        <% job.achievements.forEach(function(responsibility) { %>
                            <li>
                                <%= responsibility %>
                            </li>
                            <% }) %>
                    </ul>
                </li>
                <% }) %>
        </ul>
    </section>
    <section>
        <h2>Education & Certifications</h2>
        <ul>
            <% education.forEach(function(edu) { %>
                <li>
                    <span>
                        <%= edu.title %>
                    </span>
                    -
                    <span>
                        <%= edu.institution %>
                    </span>
                    <span>
                        <%= edu.location %> -
                            <%= edu.startDate %> - <%= edu.endDate %>
                    </span>
                </li>
                <% }) %>
        </ul>
    </section>

    <section>
        <h2>Professional Development</h2>
        <ul>
            <% professionalDevelopment.forEach(function(item) { %>
                <li>
                    <%= item %>
                </li>
                <% }); %>
        </ul>
    </section>
</body>

</html>